USERMAP_UID=1005
USERMAP_GID=1005
PAPERLESS_OCR_LANGUAGES=deu eng
PAPERLESS_SECRET_KEY=qwrQAFASFAf34324esdFSDFSEFS$
PAPERLESS_TIME_ZONE=Europe/Berlin
PAPERLESS_OCR_LANGUAGE=deu
POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD=paperless
PAPERLESS_DBNAME=paperless
PAPERLESS_DBUSER=paperless
PAPERLESS_DBPASS=paperless